# Python
.venv/
venv/
.venv-1/
__pycache__/
*.py[cod]
*.db
backend/app/__pycache__/

# Local env files
.env
.env.*

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/**/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
backend/app/__pycache__/main.cpython-313.pyc
